@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #ffffff;
  --text: #0a0a0a;
  --card-bg: #f4f4f5;
  --card-border: #e4e4e7;
  --text-muted: #919196;
}

.dark {
  --bg: #0a0a0a;
  --text: #ededed;
  --card-bg: #18181b;
  --card-border: #3f3f46;
  --text-muted: #a1a1aa;
}
/* Home */
.animate-img {
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 1280px;
  }
}
